<footer>
    <div class='inner'>
      <p>Contact me by <a href='http://twitter.com/alicebartlett'>Twitter</a> or <a href="mailto:alice.bartlett@gmail.com">email</a></p>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47478864-1', 'alicebartlett.co.uk');
      ga('send', 'pageview');
    </script>
  </footer>
  <div class="push"></div>
