@mixin less-magic-underline($link-colour, $underline-colour){
  color: $link-colour;
  background-image: linear-gradient(0deg, $underline-colour 100%, $underline-colour 0%);
  background-size: 200% 10%;
  background-repeat: repeat-x;
  background-position: 0 93%;
  text-decoration: none;
}

@mixin magic-background(){
  background:
  radial-gradient(circle, transparent 20%, $secondary-accent 20%, $secondary-accent 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, $secondary-accent 20%, $secondary-accent 80%, transparent 80%, transparent) 25px 25px,
  linear-gradient($yellow 4px, transparent 4px) 0 -2px,
  linear-gradient(90deg, $yellow 4px, transparent 4px) -2px 0;
  background-color: $secondary-accent;
  background-size:50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
