.post {

  h3 {
    padding-top: $gutter*1.5;
    padding-bottom: $gutter*0.5;
  }
  .post-meta {
    border-bottom: 6px solid $secondary-accent;
    padding-bottom: 12px;
    margin-bottom: $gutter*2;
  }

  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  ol, ul {
    list-style: none;
    counter-reset: item;
    margin-bottom: 2em;
  }

  ul > li:before {
    border: 4px solid $yellow;
    height: 0px;
    width: 0px;
    content: '';
    border-radius: 4px;
    display: inline-block;
    margin: 3px 16px 3px -23px;
  }

  ol > li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: $yellow;
    margin: 0 8px 0 -26px;
  }

  li {
    margin-left: 30px;
  }
  
  li > li {
    margin-bottom: 0em;
  }
  
  blockquote {
    border-left: 3px solid $yellow;
    padding: 0 $gutter;
    margin: $gutter 0;
    p {
      font-size: 17px;
      line-height: $gutter/17px;
      font-style: italic;
    }

    @include media(mobile) {
      padding: 0 $gutter/2;
    }
  }

  .footnotes p, .post li p {
    margin-top: -1.5em;
    margin-bottom: $gutter;
  }

  strong {
    font-family: 'Roboto Slab';
  }
  
  em {
    font-style: italic;
  }
  
  sup {
    vertical-align: super;
    font-size: 0.7em;
  }
  
  img {
    margin-top: 1em;
  }
}
.blog-nav {
  overflow: hidden;
  background-color: $secondary-accent;
  padding: $gutter/2 0;
  font-size: 20px;
  font-family: 'Roboto Slab';
  .previous {
    &:before {
      content: '◀ ';
    }
  }
  .next {
    float: right;
    &:after {
      content:' ▶';
      transform: rotate(180deg);
    }
  }

  a {
    color: white;
    &:visited {
      color:white;
    }
    &:hover, &:focus {
      @include magic-underline(white, $yellow, $secondary-accent);
    }
  }
}
