$white: #FFFFFF;
$blue: #00B2EE;
$secondary-accent: #E5DBCF;
$yellow: #CCCC00;

$bullet: $yellow;

$footer: $yellow;
$background: $white;

$link: $blue;
$link-underline: $yellow;

$footer-link: $white;
$footer-link-underline: black;

$bodytext: #222222;
