$white: #F4F1E9;
$blue: #3EAAB7;
$darker-blue: #1E6563;
$secondary-accent: #1F2925;
$yellow: #CCCC00;

$bullet: $yellow;

$footer: $yellow;
$background: $white;

$link: $blue;
$link-visited: #$darker-blue;
$link-underline: $yellow;

$footer-link: $white;
$footer-link-underline: black;

$bodytext: #1D3234;
