
header {
  padding: $gutter 0;
}

.inner {
  max-width: 700px;
  margin: 0 $gutter;

  @include media(mobile) {
    margin-left: $gutter/2;
    margin-right: $gutter/2;
  }
  @include media(desktop) {
    margin-left: $gutter*3;
  }
}

.section {
  overflow:hidden;
  margin-bottom: $gutter*2;
  @include media(mobile) {
    margin-bottom: $gutter;
  }
}

.container {
  border-left: $gutter/3 $yellow solid;
  background-color: $background;
  margin-bottom: $gutter*20;

  @include media(mobile) {
    margin-bottom: $gutter*10;
  }
}

footer {
  background-color: $footer;
  position: fixed;
  height: $gutter*20;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;

  .inner {
    padding-top: $gutter*10;
    p {
      font-size: 1em;
      line-height:1.1em;
    }
  }
  @include media(mobile) {
    height: $gutter*10;
    .inner {
      padding-top: $gutter;
      font-size: 40px;
      line-height:1.1em;
    }
  }
}
