---
layout: default
---
<div class='container'>
  {% if page.headerimage %}
    <div class="header-image" style="background-image: url('{{ site.baseurl }}/{{page.headerimage}}');">
    </div>
  {% endif %}
  <div class='inner'>
    <div class='content'>
      <div class='post'>
        <div class='section'>
          <div class='post-meta {% if page.headerimage %} with-header-image {% endif %}'>
            <h1>{{ page.title }}</h1>
            <span class='post-date'>{{ page.date | date: "%b %-d, %Y" }}</span>
            {% for tag in page.tags %}
              {% assign tag_slug = tag | slugify: "raw" %}
              <a class="tag-link"
                href={{ site.baseurl | append: "/blog/tags/" | append: tag_slug }}
                rel="category tag">
                #{{ tag }}
              </a>
            {% endfor %}

          </div>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div class="rss-subscribe">
    <div class="inner">
      <p class="rss-subscribe">Did you like this? Are you still using RSS? Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">here!</a></p>
    </div>
  </div>
  <div class='blog-nav'>
    <div class='inner'>
      {% if page.previous.url %}
        <a class='previous' href="{{page.previous.url}}">Previous</a>
      {% endif %}
      {% if page.next.url %}
        <a class='next' href="{{page.next.url}}">Next</a>
      {% endif %}
    </div>
  </div>
</div>
